﻿@model IEnumerable<Entity.Unit>

@{
    ViewBag.Title = "ManageCourse";
}

<h2>ManageCourse</h2>

<p>
    @Html.ActionLink("Create Unit", "AddUnit", new { CourseId  = @ViewBag.CourseId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
