﻿@model IEnumerable<Entity.Course>

@{
    ViewBag.Title = "MyCourses";
}

<h2>MyCourses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryCode.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryCode.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @Html.ActionLink("Administrar", "ManageCourse", new { id = item.Id }) |
            @*@Html.ActionLink("Edittt", "Edit", "Course", new { id = item.Id }, null) |
            @Html.ActionLink("E", "Edit", "Course", new { id = item.Id }, null) |*@

        </td>
    </tr>
}

</table>
